<%- include('parts/html-head')  %> 
<body class="sub_page">
<%- include('parts/navibar') %>
</div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-6 ">
          <div class="img-box">
            <img src="/images/about.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                <img src="/images/info.png" alt=""> About Us
              </h2>
            </div>
            <p>
              2021.9.22   AIEN14 小專題呈現
            </p>
            <p>
              實作資料庫CRUD、AJAX、express、session
            </p>
            <p>
              製作者： Darren Chiang
            </p>
            <p>
              所有都是假的，不要告我><
            </p>
            <a href="">
              沒辦法再看更多了
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->




<%- include('parts/scripts') %> 
<%- include('parts/footer') %> 