
<!-- shop section -->

<section class="shop_section layout_padding">
<div class="container">
    <div class="heading_container heading_center">
    <h2>
        <img src="/images/shopmark.png" alt=""> 官方店鋪
    </h2>
    </div>
    <div class="row">
    <div class="col-md-6 col-xl-4 wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
        <div class="box">
            <div class="img-box">
            <img src="/images/w1.png" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  新款智慧功能錶(黑) 
                </h5>
              </div>
              <div class="detail-box">
                <h6>
                  店家：巷弄市集 
                </h6>
                <h6>
                  Price:
                  <span>
                    <img src="/images/coin20.png" alt="">105
                  </span>
                </h6>
              </div>
              <div class="detail-box">
                <button type="button" class="btn btn-outline-ligh folb" data-itemid="SW01"><img src="/images/star0.png" alt="">追蹤商品</button>
                <button type="button" class="btn btn-outline-success buybtn" data-itemid="SW01" data-name="新款智慧功能錶(黑)">立即購買</button>
              </div>
            <div class="new">
            <span>
                Featured
            </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4 wow animate__animated animate__fadeInUp" data-wow-delay="0.8s">
        <div class="box">
            <div class="img-box">
            <img src="/images/w2.png" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  新款智慧功能錶(綠) 
                </h5>
              </div>
              <div class="detail-box">
                <h6>
                  店家：巷弄市集 
                </h6>
                <h6>
                  Price:
                  <span>
                    <img src="/images/coin20.png" alt="">105
                  </span>
                </h6>
              </div>
              <div class="detail-box">
                <button type="button" class="btn btn-outline-ligh folb" data-itemid="SW02"><img src="/images/star0.png" alt="">追蹤商品</button>
                <button type="button" class="btn btn-outline-success buybtn" data-itemid="SW02" data-name="新款智慧功能錶(綠)">立即購買</button>
              </div>
            <div class="new">
            <span>
                Featured
            </span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4 wow animate__animated animate__fadeInUp" data-wow-delay="1.6s">
        <div class="box">
            <div class="img-box">
            <img src="/images/w3.png" alt="">
            </div>
            <div class="detail-box">
                <h5>
                  新款智慧功能錶(粉) 
                </h5>
              </div>
              <div class="detail-box">
                <h6>
                  店家：巷弄市集 
                </h6>
                <h6>
                  Price:
                  <span>
                    <img src="/images/coin20.png" alt="">105
                  </span>
                </h6>
              </div>
              <div class="detail-box">
                <button type="button" class="btn btn-outline-ligh folb" data-itemid="SW03"><img src="/images/star0.png" alt="">追蹤商品</button>
                <button type="button" class="btn btn-outline-success buybtn" data-itemid="SW03" data-name="新款智慧功能錶(粉)">立即購買</button>
              </div>
            <div class="new">
            <span>
                Featured
            </span>
            </div>
        </div>
    </div>
    </div>
</div>
</section>
<section class="shop_section layout_padding">
<div class="container">
    <div class="heading_container heading_center">
    <h2>
        <img src="/images/customshop.png" alt=""> 會員店鋪
    </h2>
    </div>
    <div class="row customshop">
    
    </div>
    <div class="btn-box load-more" style="display: none">
        <button type="button" class="btn btn-warning">查看更多</button>
    </div>
</div>
</section>

<!-- end shop section -->