    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      史上最強智慧型功能錶到達
                    </h1>
                    <p>
                      Aenean scelerisque felis ut orci condimentum laoreet. Integer nisi nisl, convallis et augue sit amet, lobortis semper quam.
                    </p>
                    <div class="btn-box">
                      <a href="/item-list" class="btn1">
                        一探究竟
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      我又手滑了
                    </h1>
                    <p>
                      在家沒事滑手機，不小心多買了一台QQ，求個好心人帶走吧  by David
                    </p>
                    <div class="btn-box">
                      <a href="/item-list" class="btn1">
                        進入市集
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="img-box">
                    <img src="/images/PD02.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-md-8">
                  <div class="detail-box">
                    <h1>
                      您是第 8956134 位訪客說這個網站很讚！
                    </h1>
                    <p>
                      所有的一切都是血汗建造起來的，如果可以，希望能給我們一點鼓勵
                    </p>
                    <div class="btn-box">
                      <a href="/about" class="btn1">
                        Contact Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="img-box">
                    <img src="/images/c2.jpg" alt="" height="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>